* {
    z-index: 1;
}


#skyimg {
    
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0 !important;
}

h1 {
    color: whitesmoke;
    
}

ul {
    width: 1em;
    position: fixed;
    top: 8em
    
}

li {
    color: whitesmoke;
    list-style: none;
    font-size: 15px;
    font-family: '8BITWONDERNominal';
   font-weight: normal;
   font-style: normal;
    padding-bottom: 50px;
    left: 0px;
    margin-right: 20px;
    width: 1em;
    
    
    

}
a {
    overflow: hidden;
    width: 1em;
    line-height: 20px;
    
    
}

#me {
    position: relative;
    color: red;
    bottom: 50px;
    width: 3em !important;
    
    
    
}

#verL {
    position: fixed;
    border-left: 2px solid red;
    height: 400px;
    margin-top: 1px;
    left: 42px;
    top: 51em;
    animation: colorchange 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#verT {
    position: fixed;
    border-left: 2px solid red;
    height: 400px;
    margin-top: 1px;
    left: 42px;
    bottom: 51em;
    animation: colorchange 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#icon {
    height: 3em;
}

@keyframes colorchange {
    0% {
      border-color: red;
    }
    25% {
      border-color: blue;
    }
    50% {
      border-color: white;
    }
    75% {
        border-color: green
    }
    100% {
        border-color: red;
    }
}


.btn-xl {
    padding: 10px 20px;
    font-size: 5em;
    border-radius: 10px;
}